$base-color: #3cb878; //green
$work-color: #E53935; //red
$education-color: #FFB300; //yellow
$duty-color: #039BE5; //lightblue
$vacation-color: #BDBDBD; //grey
$hospital-color: #757575; //light grey
$training-color: #FB8C00; //orange
@mixin box-basic {
    margin: 1px;
    padding: 0px 0px 1px 0px;
    height: 50px;
}


body {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#sidebar {
    grid-column: 1/3;
    background: #333;
}

#main {
    grid-column: 3/13;
}


#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 960px;
    margin: 20px 4px 20px 4px;
    .column {
        display: grid;
        background: #fff;
        margin: 1px;
        padding: 1px;
        float: left;
    }
}

.wrapper.mdl-button {
    height: auto;
}

.mdl-button{
    color: #fff;
}

#others {
    background: #fff; //color: #333;
    .mdl-button{
        color: #222;
    }
    input{
        color: #222;
    }
}

.man {
    //background: $base-color;
    @include box-basic;
    div {
        padding: 0px;
        margin: 0px;
    }
    .name {
        font-size: 1em;
    }
    .action-location {
        font-size: 0.5em;
    }
    .detail {
        font-size: 0.5em;
    }
}

.dummy {
    background: #fff;
    @include box-basic;
}

.raised {
    //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    &.work {
        background: lighten($work-color, 30%);
    }
    &.base {
        background: lighten($base-color, 30%);
    }
    &.education {
        background: lighten($education-color, 30%);
    }
    &.duty {
        background: lighten($duty-color, 30%);
    }
    &.vacation {
        background: lighten($vacation-color, 30%);
    }
    &.hospital {
        background: lighten($hospital-color, 30%);
    }
    &.training {
        background: lighten($training-color, 30%);
    }
}


#controllers {
    margin: 0 auto 0 auto;
    padding: 20px 3px 3px 3px;
    div {}
    button {
        font-size: 0.5em;
        margin: 0px 0px 20px 0px;
    }
    hr {
        margin: 0px;
        padding: 0px;
    }
}



/* from here, color change */

.base {
    background: $base-color;
}

.work {
    background: $work-color;
}

.vacation {
    background: $vacation-color;
}

.duty {
    background: $duty-color;
}

.hospital {
    background: $hospital-color;
}

.training {
    background: $training-color;
}

.education {
    background: $education-color;
}
